:root {
    --primary: #5e0000; /*  */
    --secondary: #171f69; /*  */
    --tertiary: #c9ad6a; /*  */
    --uncommon: #c45500;
    --rare: #0c1466;
    --trait:#522e2c;
    --move: #2d4934;
    --flourish:#672281;
    --body:#58180D;
    --feature:#c9ad6a6e;
 }

 /************************************
        Description Formatting
*************************************/ 
 .description {
    margin-bottom: 1em;
    background-color: #faf7ea;
    border-style: solid;
    border-width: 7px;
    border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAA8CAMAAADG+c2+AAAAM1BMVEUAAAAAAAAAAAAkAAA1GwA0GgA5GgA5GwA4HgA7HgA5HgA7HgA7HwA7HgA8HgA7HgA8HwDn6RpAAAAAEHRSTlMAAQcHMDExQ1ZW1dXY3t7+02zZCAAAAKNJREFUWMPt2LEOwyAMBNCkSXGpKfb/f20G3AGUiWOJdNlueYrt6di2J3xHrmZF9mVCdnd3T/NgCO+ItUWdB0P4RrQWfR4chOVggUcu/cgCH0X6o+ynuivg3QjIAm8FggQJEiRIkCBBggQJEoTApO56An15EFIrVgJ4vaAtlnlwEKKbGrLATlgOxg9XeORfv9IMH+Xzb7tSzGo+gL7chNcjXpUulIwXVrjWS+0AAAAASUVORK5CYII=) 12 stretch;
    border-image-outset: 4px;
    box-shadow: 0 0 6px #faf7ea;
    color: var(--primary);
    font-size: .423cm;
    font-style: italic;
    margin-top: -1em;
}
 /************************************
        Feat Formatting
*************************************/ 
.feature {
    margin-left: auto;
    margin-right:auto;
    background-color:var(--feature);
    padding: 2.5%
}
.feature table {
    margin-bottom:0.25em!important;
}
.feature table th:nth-child(1) {
    text-align: left!important;
    color: var(--body);
    font-family: OpenDyslexic,Roboto,system,-apple-system,sans-serif!important;
    text-transform: uppercase;
    margin-bottom: -0.5em;
    padding-bottom: 0;
    border-bottom: 2px solid var(--primary);
    font-size: .423cm;
    font-weight: 900;
}
.feature table th:nth-child(2) {
    text-align: right!important;
    color: var(--body);
  font-family: OpenDyslexic,Roboto,system,-apple-system,sans-serif!important;
    text-transform: uppercase;
    margin-bottom: -0.5em;
    padding-bottom: 0;
    border-bottom: 2px solid var(--primary);
    font-size: .423cm;
    font-weight: 900;
    min-width:5em;
}
.feature table td {
    display:none;
}
.feature p {
    text-align: justify;
    margin-bottom: 0;
}
.feature p+p {
    margin-top: 0;
}
.feature h4 {
    color: var(--body);
  font-family: OpenDyslexic,Roboto,system,-apple-system,sans-serif!important;
    padding-bottom: 0!important;
    font-size:1.2em;
}
.feature hr {
    margin: 0.25em 0 0.25em 0;
    visibility: visible;
    border-bottom: solid thin var(--primary)
}

/************************************
        Action Formatting
*************************************/ 
.ability {
    padding-left: 1em;
}
.ability ul {
    column-count: 2;
}
.ability ul li {
    margin-top:0
}
.ability h4 {
    color: var(--body);
  font-family: OpenDyslexic,Roboto,system,-apple-system,sans-serif!important;
    border-bottom: solid var(--primary);
}
.ability h5 {
  color: var(--secondary);
  font-family: OpenDyslexic,Roboto,system,-apple-system,sans-serif!important;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: solid 0.2em var(--secondary)
}

/************************************
        Spell Formatting
*************************************/ 
.spell {
    margin-left: auto;
    margin-right:auto;
    background-color:var(--feature);
    padding: 2.5%
}
.spell ul {
    column-count: 2;
}
.spell ul li {
    margin-top:0
}
.spell h4 {
    color: var(--body);
  font-family: OpenDyslexic,Roboto,system,-apple-system,sans-serif!important;
    border-bottom: solid var(--primary);
}
.spell h5 {
  color: var(--secondary);
  font-family: OpenDyslexic,Roboto,system,-apple-system,sans-serif!important;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: solid 0.2em var(--secondary);
    margin-top: 0.5em
}
.spell hr {
    margin: 0.25em 0 0.25em 0;
    visibility: visible;
    border-bottom: solid thin var(--secondary)
}
.spell p {
    margin-bottom: 0;
}
.spell table {
    margin-bottom:0.25em!important;
}
.spell table th:nth-child(1) {
    text-align: left!important;
    color: var(--body);
  font-family: OpenDyslexic,Roboto,system,-apple-system,sans-serif!important;
    text-transform: uppercase;
    margin-bottom: -0.5em;
    padding-bottom: 0;
    border-bottom: 2px solid var(--primary);
    font-size: .423cm;
}
.spell table th:nth-child(2) {
    text-align: right!important;
    color: var(--body);
  font-family: OpenDyslexic,Roboto,system,-apple-system,sans-serif!important;
    text-transform: uppercase;
    margin-bottom: -0.5em;
    padding-bottom: 0;
    border-bottom: 2px solid var(--primary);
    font-size: .423cm;
    min-width:5em;
}
.spell table td {
    display:none;
}

/************************************
        Ancestry Formatting
*************************************/ 
.ancestry table {
    margin-bottom:0.8em!important;
}
.ancestry table th:nth-child(1) {
    text-align: left!important;
    color: var(--body);
    font-family: OpenDyslexic,Roboto,system,-apple-system,sans-serif!important;
    text-transform: uppercase;
    margin-bottom: -0.5em;
    padding-bottom: 0;
    border-bottom: solid var(--primary);
    font-size: .423cm;
    font-weight: 900;
      width:47.5%;
}
.ancestry table th:nth-child(2) {
    text-align: left!important;
    color: var(--body);
    font-family: OpenDyslexic,Roboto,system,-apple-system,sans-serif!important;
    text-transform: uppercase;
    margin-bottom: -0.5em;
    padding-bottom: 0;
    font-size: .423cm;
    font-weight: 900;
      width:5%;
}
.ancestry table th:nth-child(3) {
    text-align: left!important;
    color: var(--body);
    font-family: OpenDyslexic,Roboto,system,-apple-system,sans-serif!important;
    text-transform: uppercase;
    margin-bottom: -0.5em;
    padding-bottom: 0;
    border-bottom: solid var(--primary);
    font-size: .423cm;
    font-weight: 900;
    width:47.5%;
}
.ancestry table td {
    text-align:left!important;
}
.ancestry table tbody tr:nth-child(odd){
    background-color:transparent;
}
.ancestry table td{
    font-family: OpenDyslexic,Roboto,system,-apple-system,sans-serif!important;
    margin-top: 0.5em;
}
.ancestry table td:nth-child(1)::before{
    margin-bottom: 0em;
    line-height: 1.3em;
    list-style-position: outside;
    list-style-type: disc;
    color: var(--primary);
    content: "▸";
    margin-left: 0.5em;
}
.ancestry table td:nth-child(3)::before{
    margin-bottom: .8em;
    line-height: 1.3em;
    list-style-position: outside;
    list-style-type: disc;
    color: var(--primary);
    content: "▸";
    margin-left: 0.5em;
}
.ancestry table td {
    padding-bottom:0!important
}

/************************************
        Note Formatting
*************************************/
blockquote table tbody tr:nth-child(odd) {
    background-color: #fff;
}
